
<ol class="post-list">
  {{!-- DEFINES WHERE THE LOOP BEGINS --}}
  {{#each posts as |post| }}
  <li>
    {{!-- Imports into the partials --}}
   {{> post-info post}}
  </li>
  {{!-- DEFINES WHERE THE LOOP ENDS --}}
  {{/each}}
</ol>